{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <h1>Editar Funcionário</h1>

    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|bootstrap }}
        <br>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'create_documento' object.id %}">Adicionar documento</a>
    <br>
    <br>
    <h3>Documentos Anexados</h3>
    {% for documento in object.documento_set.all %}
        <a href="{{ documento.arquivo.url }}">{{ documento.descricao }}</a>
        <br>
    {% endfor %}
{% endblock main %}

