{% extends 'base.html' %}

{% block main %}
    <h1>Bem-vindo(a), {{ usuario.funcionario.nome }}</h1>
    <a class="btn btn-light" href="{% url 'list_funcionarios' %}">Gerenciar funcionários</a>
    <br>
    <a class="btn btn-light" href="{% url 'list_departamentos' %}">Gerenciar departamentos</a>
    <br>
    

    {% if usuario.funcionario.empresa %}
        <a class="btn btn-info" href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar empresa</a>
    {% else %}
        <a class="btn btn-info" href="{% url 'create_empresa' %}">Criar empresa</a>
    {% endif %}

    <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
{% endblock main %}

